html, body {
    margin: 0;
    padding: 0;
}

iframe {
    border-style: none;
}

.link {
    text-decoration: none;
    color: black;
    padding-inline: 10px;
}

.active {
    text-decoration: underline;
    color: orange;
}